APP_NAME=Lumen
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost
APP_TIMEZONE=UTC

LOG_CHANNEL=syslog
LOG_SLACK_WEBHOOK_URL=

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=fifty_truck_dashboard
DB_USERNAME=root
DB_PASSWORD=password
JWT_SECRET=<!--key here-->

API_FIFTY_HOST_URL=https://api-swarm-inte.fiftytruck.com/api/v1

FAKE_ORDERS_NUMBER=0
SHORT_DISTANCES_MAX_DISTANCE=100000
LONG_DISTANCES_MIN_DISTANCE=300000
PRODUCT_LENGTH_MAX=13.6
PRODUCT_WEIGHT_MAX=28

CACHE_DRIVER=file
QUEUE_CONNECTION=sync
