.modal-title {
  margin:auto;
  text-transform:uppercase;
  color:rgba(0, 0, 0, 0.6);
}
.modal-footer {
  display:flex;
  justify-content: space-between;
  border-top:none;
}
input{
  margin-top:50px;
  margin-bottom:50px;
  font-size:14px!important;
  background-color:rgb(241, 241, 241);
  padding:8px;
  border-radius:8px;
}
.button-container {
  display:flex;
  justify-content:center;
  margin-left:4px;
  vertical-align:center;
  padding-bottom:5px;
}
.button {
  width:130px;
  color:rgb(31, 207, 119);
  border-radius:15px;
  font-size: 16px;
  font-weight:400;
  text-transform:uppercase;
  height:20px;
  margin: 0;
  margin-top: 0px;
}
.button:hover {
  color:rgb(41, 223, 132);
  cursor:pointer;
}
.button:active{
  border:none;
}
.button.left{
  margin-right:1em;
}
.disabled {
  position: absolute;
  width:130px;
  height: 28px;
}